body{
    margin: 0;
    padding: 0;
    /* background-image: linear-gradient(#E5EEC1,#A2D4AB,#3EACA8,#547A82,#5A5050); */
    background-image: linear-gradient(#E5EEC1,#A2D4AB);
    background-image: linear-gradient(#E5EEC1,#A2D4AB);
    /* background-image: linear-gradient(#FFC300,#FF5733,#C70039,#900C3F,#581845); */
    background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
}

.header{
    /* background-color: #5A5050; */
    background-color: #547A82;
    overflow: hidden;
    position: relative;
    padding: 0px;
    margin: 0px;
}
.header-image{
    padding-left: 50px;
}
.header a{
    padding: 20px;
    font-size: 20px;
    font-family: Quicksand;
    text-decoration: none;
    text-align: center;
    float: left;
    color: #3EACA8
    /* color: #3EACA8 */
    /* color: #5A5050 */
}
.header a:hover{
    color: #A2D4AB
}
.header-right{
    float: right;
    font-size: 20px;
}

/*#581845, #900C3F, #C70039, #FF5733, #FFC300
