<!DOCTYPE html>

<html>
<link rel="stylesheet" type="text/css" href="../static/css/About.css">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <Title>Taylor von Hausen</Title>
        <link rel="tvh icon" type="image/png" href="../static/images/tvh2.png"/>
        <link href="https://fonts.googleapis.com/css?family=Playfair+Display|Quicksand" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Racing+Sans+One" rel="stylesheet">
</head>

<body>
        <div class="header">
                <div class="header-text">
                        <h1>Taylor von Hausen</h1>
                        <div class="home">
                            <div class="menu">
                                <a href="Home.html">HOME</a>
                            </div>
                        </div>
                        
                </div>
                <div class="links">
                        <a class ="git" href="https://github.com/tvonhaus">
                                <img class="git" src="../static/images/github2.png" width ="30" height ="30" hspace="30">
                        </a>
                        <a class ="linkedin" href="https://ca.linkedin.com/in/taylor-von-hausen">
                                <img class="linkedin" src="../static/images/linkedin2.png" width ="30" height ="30" hspace="30">
                        </a>
                        <a class ="mail" href="mailto:tvonhaus@uoguelph.ca">
                                <img class="mail" src="../static/images/mail2.png" width="30" height ="30" hspace="30">
                        </a>
                </div>
                <div class="pagetitle">
                    <a>ABOUT ME</a>
                </div>
        </div>
	<div class="aboutme">
                <p> I am a Engineering Systems and Computing co-op student at the University of Guelph in Ontario, Canada. I have done various design projects throughout my school and have lots of progamming experience in C, Python, Java as well as experience making web applications, android and iOS development and in the data science field using the various scientific python libraries.  
                </p>
                <p> My hobbies include snowboarding, hockey, music, electronics and video games.
                </p>
        </div>
</body>
</html>
