<!DOCTYPE html>
<html>
<link rel = "stylesheet" type= "text/css" href= "../static/css/Home.css">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<Title>Taylor von Hausen</Title>
	<link rel="tvh icon" type="image/png" href="tvh2.png"/>
	<link href="https://fonts.googleapis.com/css?family=Playfair+Display|Quicksand" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Racing+Sans+One" rel="stylesheet">






</head>

<body>
	<div class="header">
		<img class="header-image" src="../static/images/tvh2.png" width="75px" height="75px">
		<div class="header-text">
			<h1>Taylor von Hausen</h1>
			<p>Systems and Computing Engineer</p>
		</div>
		<div class="links">
			<a class ="git" href="https://github.com/tvonhaus">
				<img class="git" src="../static/images/github.png" width ="100" height ="100" hspace="100">
			</a>
			<a class ="linkedin" href="https://ca.linkedin.com/in/taylor-von-hausen">
				<img class="linkedin" src="../static/images/linkedin.png" width ="100" height ="100" hspace="100">
			</a>
			<a class ="mail" href="mailto:tvonhaus@uoguelph.ca">
				<img class="mail" src="../static/images/mail.png" width="100" height ="100" hspace="100">
			</a>
		</div>

	</div>
	<div class="home">
		<div class="menu">
			<a href="https://tvonhaus.github.io">HOME</a>
			<a href=#about>ABOUT</a>
			<a href=#projects>PROJECTS</a>
			<a href="Resume2018.pdf">RESUME</a>
		</div>

	</div>

    
</body>





</html>
